@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
   /* font-family: 'Playfair Display', serif; */
   font-family: 'Poppins', sans-serif;
   padding: 0;
   margin: 0;
}

a {
   text-decoration: none !important;
}
/* Navbar */
body {
   margin: 0px;
}
nav {
   display: flex;
   align-items: flex-start;
   background: #fff;
   padding: 10px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav .link {
   font-size: 26px;
   decoration: none !important;
   color: #4682a9;
}

nav .login {
   border-radius: 3px;
   margin-top: 2px;
   font-size: 26px;
   decoration: none !important;
   color: #4682a9;
   padding: 1px 15px;
   font-weight: 600;
   background-color: #4682a9;
   color: #ffff;
   text-decoration: none;
}

nav .login:hover{
  background-color: #7ad7ff;
}

.navbar {
   padding: 0;
}
.navbar .navbar-nav .nav-link {
   padding: 1em 0;
}
.navbar .navbar-nav .nav-item {
   margin: 0 1em;
}

.navbar .navbar-nav .nav-item {
   position: relative;
}
.navbar .navbar-nav .nav-item::after {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin: 0 auto;
   content: '';
   background-color: #4682a9;
   width: 0%;
   height: 4px;
   transition: all 0.5s;
}
.navbar .navbar-nav .nav-item:hover::after {
   width: 100%;
}
.navbar .navbar-nav .nav-item .link:hover {
  font-weight: 700 !important;
   color: #4682a9 !important;
}
.navbar .navbar-nav .active::after {
   width: 80% !important;
}
.navbar .navbar-nav .active:hover::after {
   width: 0% !important;
}
nav .active .link {
   font-weight: 700 !important;
   color: #4682a9 !important;
}


.Logo {
   display: inline-flex;
   align-items: center;
   gap: 13px;
   padding: 4px 60px;
   position: relative;
}
.fiture {
   display: flex;
   padding: 15px 5%;
   align-items: flex-start;
   gap: 49px;
   margin-left: auto;
}

.fiture a {
   color: var(--Dark-Blue, #4682a9);
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.fiture a:last-child {
   color: var(--Dark-Blue, #ffffff);
   padding: 1px 5px;
   gap: 10px;
   background: var(--Dark-Blue, #4682a9);
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   padding: 10px 15px;
}

nav .Logo img {
   position: relative;
   width: 53px;
   height: 51px;
   object-fit: cover;
}

a {
   text-decoration: none;
}

nav .logo a {
   position: relative;
   width: fit-content;
   font-family: 'Poppins-Bold', Helvetica;
   font-weight: 700;
   color: transparent;
   font-size: 16px;
   letter-spacing: 0;
   line-height: normal;
}

.normal {
   color: #749bc2;
}

.dropdown-arrow {
   height: 0;
   width: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 10px solid #333;
   position: relative;
   top: 8px;
   left: 130px;
}

.user-id:hover .dropdown-arrow {
   top: 0px;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-bottom: 10px solid #333;
   border-top: 10px solid transparent;
}

.dropdown-menu {
   list-style-type: none;
   display: none;
   background: transparent;
}

.user-id:hover .dropdown-menu {
   display: block;
   top: 100%;
}

.dropdown-menu ul li {
   color: var(--Dark-Blue, #4682a9);
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   list-style-type: none;
   display: block;
   border-left: 1px solid #333;
   border-right: 1px solid #333;
}

.dropdown-menu ul li:first-child {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-top: 1px solid #333;
}

.dropdown-menu ul li:last-child {
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom: 1px solid #333;
}

.dropdown-menu ul li:hover {
   background: rgba(0, 87, 255, 0.15);
   color: #4682a9;
}
/* navbar */

/*conten*/

.conten {
   display: inline-flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
   gap: 10px;
   width: 100%;
   height: 100vh;
   flex-shrink: 0;
   background: linear-gradient(291deg, #7ad7ff 0%, rgba(197, 242, 199, 0) 100%);
}

.Judul {
   top: 193px;
   left: 128px;
   position: absolute;
}

.Judul H1 {
   color: #4682a9;
   font-family: Poppins;
   font-size: 40px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.Sub-Judul {
   top: 363px;
   left: 129px;
   position: absolute;
   color: var(--Cobalt, #749bc2);
   font-family: Poppins;
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.Sub-Judul p span {
   color: var(--Cobalt, #4682a9);
   font-size: 24px;
   font-weight: 700;
   line-height: normal;
}

.button{
  padding: 10px 75px;
  background-color: #749bc2 !important;
  border-radius: 10px;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
.button:hover{
  background-color: #4682a9!important; 
}

.gambar {
   width: 908px;
   height: 557px;
   top: 100px;
   left: 100px;
   object-fit: cover;
}

.conten-LayananKami {
   margin-left: 25%;
   display: flex;
   width: 1180px;
   height: 738px;
   padding: 10px;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.conten-LayananKami H1 {
   margin-right: 12%;
   color: var(--Dark-Blue, #4682a9);
   font-family: Poppins;
   font-size: 40px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.layanan-kami {
   display: flex;
   width: 1180px;
   padding: 0px 0px 0px 6px;
   align-items: center;
   align-content: center;
   gap: 12px 57px;
   flex-wrap: wrap;
}

.tombol-LayananKami {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-left: 4px;
   width: 241px;
   height: 85px;
   flex-shrink: 0;
   border-radius: 10px;
   border: 1px solid var(--Dark-Blue, #4682a9);
   background: var(--Cobalt, #749bc2);
}

.tombol-LayananKami img {
   margin-top: 14px;
}

.tombol-LayananKami a {
   margin-top: -13px;
   color: var(--White, #fff);
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.layanan-kami p {
   color: var(--Dark-Blue, #4682a9);
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.layanan-kami .line {
   width: 950px;
   height: 1px;
   background: #000;
}

.Rekomendasi {
   width: 100%;
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;
}

.Rekomendasi H1 {
   color: var(--Dark-Blue, #4682a9);
   font-family: Poppins;
   font-size: 40px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.conten-Rekomendasi {
   display: flex;
   width: 1189px;
   padding: 15px 0px;
   justify-content: center;
   align-items: center;
   gap: 60px;
}

.Isi-Conten-Rekomendasi {
   padding: 10px;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   border: 1px solid #000;
   background: var(--White, #fff);
   display: inline-flex;
   height: 314px;
   padding: 10px;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.Isi-Conten-Rekomendasi .isi1 {
   display: flex;
   width: 100%;
   height: 18px;
   align-items: center;
   gap: 199px;
   flex-shrink: 0;
}

.image {
   cursor: pointer;
}

.Keterangan {
   display: flex;
   flex-direction: column;
   width: 339px;
   height: 50px;
   align-items: flex-start;
   justify-content: center;
   padding: 15px 11px 15px 0px;
   position: relative;
}

.Keterangan .text-1 {
   position: relative;
   width: 279px;
   height: 23px;
   margin-top: -14px;
   font-family: 'Poppins-Regular', Helvetica;
   font-weight: 400;
   color: #000000;
   font-size: 20px;
   letter-spacing: 0;
   line-height: 24px;
   white-space: nowrap;
}

.Keterangan .text-2 {
   position: relative;
   width: 279px;
   height: 23px;
   margin-bottom: -12px;
   font-family: 'Poppins-Regular', Helvetica;
   font-weight: 400;
   color: #000000;
   font-size: 14px;
   letter-spacing: 0;
   line-height: 24px;
   white-space: nowrap;
}

.Keterangan-Harga {
   display: flex;
   width: 337px;
   height: 34px;
   padding: 5px;
   justify-content: flex-end;
   align-items: flex-end;
   gap: 10px;
   flex-shrink: 0;
}

.Keterangan-Harga a {
   position: relative;
   width: fit-content;
   margin-top: -1px;
   font-family: 'Poppins-Bold', Helvetica;
   font-weight: 700;
   color: #000000;
   font-size: 20px;
   letter-spacing: 0;
   line-height: 24px;
   white-space: nowrap;
}

.campuran {
   display: flex;
   width: 67px;
   height: 14px;
   padding: 0px 6px 0px 5px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   border-radius: 5px;
   border: 1px solid #000;
   background: #fff;
}

.conten-Rekomendasi-Makanan {
   display: flex;
   width: 1239px;
   height: 267px;
   align-items: center;
   gap: 54px;
   flex-shrink: 0;
   border-radius: 5px;
}

main{
   margin-top: 130px;
   padding: 0 130px;
}